
/luajit/*
!/luajit/VERSION
!/luajit/LuaJIT_Files_Should_Exist_Here

/libconfig/*
!/libconfig/VERSION
!/libconfig/LibConfig_Files_Should_Exist_Here

/gc/*
!/gc/VERSION
!/gc/Boehm-Demers-Weiser_GC_Files_Should_Exist_Here

/sdl2/*
!/sdl2/VERSION
!/sdl2/SDL2_Files_Should_Exist_Here

/sdl3/*
!/sdl3/VERSION
!/sdl3/SDL3_Files_Should_Exist_Here
